{% extends "templates/dashboard.html" %}

{% block content %}

<title>{% block title %}Dashboard - Clientes | PcMarket{% endblock %}</title>
<div class="table">
    <div class="table-header">
        <p>Clientes</p>
    </div>
    <form id="new-user-form" method="POST" action="/dashboard/add_user">
        <div class="new-info">
            <input type="text" name="name" class="client-input" placeholder="Nombre" required/>
            <input type="email" name="email" class="client-input" placeholder="Email" required/>
            <input type="password" name="password" class="client-input" placeholder="Contraseña" required maxlength="64"/>
            <input type="text" name="type" class="client-input" placeholder="Tipo(cliente/administrador)" required/>
        </div>
        <button type="submit" class="add-new">+ Añadir Nuevo</button>
    </form>
    <div class="message" id="response-message"></div>
    
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="text-center">
                    <td >{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="/static/js/addUser.js"></script>
{% endblock %}