{% extends "templates/dashboard.html" %}

{% block content %}
<title>{% block title %}Dashboard - Productos| PcMarket{% endblock %}</title>

<div class="table">
    <div class="table-header">
        <p>Productos</p>
    </div>
    <form id="new-product-form" enctype="multipart/form-data" method="POST" action="/dashboard/add_product">
        <div class="new-info">
            <p class="image-text">Imagen:</p><input type="file" name="image" placeholder="Imagen" required/>
            <input type="text" name="name" placeholder="Nombre" required/>
            <input type="text" name="description" placeholder="Descripción" required/>
            <input type="text" name="type" placeholder="Tipo" required/>
            <input type="text" name="brand" placeholder="Marca" required/>
            <input type="number" name="stock" placeholder="Stock" required/>
            <input type="number" name="stars" step="0.1" placeholder="Estrellas" required/>
            <input type="number" name="price" step="0.01" placeholder="Precio original" required/>
            <input type="number" name="discount_decimal" step="0.01" placeholder="Descuento en decimal" required/>
        </div>
        <button type="submit" class="add-new">+ Añadir Nuevo</button>
    </form>
    <div class="message" id="response-message"></div>
    
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Stock</th>
                    <th>Estrellas</th>
                    <th>Precio Original</th>
                    <th>Descuento</th>
                    <th>Precio rebajado</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td class="text-center">{{ product.id }}</td>
                    <td class="text-center"><img src="/{{ product.image }}" alt="{{ product.name }}"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td class="text-center">{{ product.type }}</td>
                    <td class="text-center">{{ product.brand }}</td>
                    <td class="text-center">{{ product.stock }}</td>
                    <td class="text-center">{{ product.stars }}</td>
                    <td class="text-center">{{ product.price }}</td>
                    {% if product.discount_decimal == 0 %}
                    <td class="text-center">0</td>
                    {% else %}
                    <td class="text-center">{{ product.discount_percentage }} %</td>
                    {% endif %}
                    <td class="text-center">{{ product.discounted_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="/static/js/addProduct.js"></script>
{% endblock %}