{% extends "templates/base.html" %}

<title>{% block title %}Checkout | PcMarket{% endblock %}</title>

{% block content %}
    <link rel="stylesheet" href="/static/styles/delivery.css">

    <div class="wrapper">
        <form id="payment-form" action="/checkout" method="post">
            <h1>Pago</h1>

            <div class="input-box">
                <input type="text" id="card_number" name="card_number" placeholder="Número de tarjeta*" required>
                <div id="card-number-error-message" class="payment-message" style="display: none;"></div>
                <div id="card-number-helper-message" class="payment-message"></div>
            </div>
            <div class="input-box">
                <input type="text" id="card_holder" name="card_holder" placeholder="Nombre del titular*" required>
            </div>

            <div class="two-boxes">
                <div class="input-box">
                    <input type="text" id="expiration_date" name="expiration_date" placeholder="Fecha de caducidad* MM/AA" maxlength="5" required>
                    <div id="expiration-error-message" class="payment-message" style="display: none;"></div>
                    <div id="expiration-helper-message" class="payment-message"></div>
                </div>

                <div class="input-box">
                    <input type="text" id="cvv" name="cvv" placeholder="CVV*" maxlength="3" required>
                    <div id="cvv-error-message" class="payment-message" style="display: none;"></div>
                    <div id="cvv-helper-message" class="payment-message"></div>
                </div>
            </div>

            <button type="submit" class="pay-button">Pagar</button>
        </form>
    </div>

    <script type="text/javascript" src="/static/js/payment.js"></script>
{% endblock %}