{% extends "templates/base.html" %}

<title>{% block title %}Checkout | PcMarket{% endblock %}</title>

{% block content %}
    <link rel="stylesheet" href="/static/styles/delivery.css">

    <div class="wrapper">
        <form action="/cart/delivery" method="post">
            <h1>Pago</h1>
            <div class="two-boxes">
                <div class="input-box">
                    <input type="text" name="first_name" placeholder="Nombre*" required maxlength="15">
                    {% if name_length_error %}
                    <div class="message">{{ name_length_error }}</div>
                    {% endif %}
                </div>
                <div class="input-box">
                    <input type="text" name="last_name" placeholder="Apellidos*" required maxlength="15">
                    {% if email_format_error %}
                    <div class="message">{{ email_format_error }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="input-box">
                <input type="text" name="address" placeholder="Dirección*" required maxlength="64">
                {% if password_length_error %}
                <div class="message">{{ password_length_error }}</div>
                {% endif %}
            </div>
            <div class="input-box">
                <input type="text" name="complement_address" placeholder="Complemento dirección 1">
            </div>

            <div class="two-boxes">
                <div class="input-box">
                    <input type="text" name="postcode" placeholder="Código postal*" required maxlength="10">
                    {% if password_length_error %}
                    <div class="message">{{ password_length_error }}</div>
                    {% endif %}
                </div>
                <div class="input-box">
                    <input type="text" name="city" placeholder="Ciudad*" required maxlength="15">
                    {% if password_length_error %}
                    <div class="message">{{ password_length_error }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="two-boxes">
                <div class="input-box">
                    <input type="text" name="phone" placeholder="Número de teléfono*" required maxlength="15">
                    {% if confirm_password_error %}
                    <div class="message">{{ confirm_password_error }}</div>
                    {% endif %}
                </div>
                <div class="input-box">
                    <input type="text" name="country" placeholder="País*" required maxlength="15">
                    {% if password_length_error %}
                    <div class="message">{{ password_length_error }}</div>
                    {% endif %}
                </div>
            </div>


            <button type="submit" class="pay-button">Pagar</button>
            {% if error %}
            <div class="message email-repeat">{{ error }}</div>
            {% endif %}

        </form>
    </div>
{% endblock %}