{% extends "templates/base.html" %}

<title>{% block title %} {{ product.name.split(' - ')[0] }} | {{ product.name.split(' - ')[1] }} {% endblock %}</title>

{% block content %}
<link rel="stylesheet" href="/static/styles/product_details.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="small-container-single-product">
    <div class="row">
        <div class="col-2">
            <img src="/{{ product.image }}" width="70%" alt="{{ product.name }}">
        </div>
        <div class="col-2">
            <h5>{{ product.name }}</h5>
            {% if product.discount_decimal != 0 %}
            <div class="product-info">
                <div role="presentation" class="discount-percentage">{{ -product.discount_percentage }}%</div>
                <span class="original-price">{{ product.price }}€</span><br>
            </div>
            <span class="discounted-price">{{ product.discounted_price }} €</span> 
            {% else %}
            <span class="no-discount">{{ product.price }} €</span>
            {% endif %}

            <div class="product-action">
                <form action="/cart/{{ product.id }}" method="post" id="add-cart-form">
                    <input type="number" name="product_quantity" id="product_quantity" value="1" required>
                    <button type="submit" class="add-to-cart-button">Añadir al carrito</button>
                </form>

                <form action="/favorites/{{ product.id }}" method="post" id="add-favorites-form">    
                    <button type="submit" class="add-or-remove-favorite-button">
                        <i id="favoriteIcon" class="{% if favorite %}bx bxs-heart{% else %}bx bx-heart{% endif %}"></i>
                    </button>
                </form>

            </div>
            <div class="message" id="response-message"></div>
        </div>
    </div>
    <div class="product-description">
        <h3>Descripción<hr></h3>
        <p class="description">{{ product.description }}</p>
        {% for section in product.description_sections %}
        <div>
            <p class="section-title">{{ section.title }}</p>
            <p class="section-text">{{ section.description }}</p>
        </div>
        {% endfor %}

        {% if product.description_list %}
        <div>
            <p class="list-title">{{ product.description_list.title }}</p>
            <ul class="list-text">
                {% for text in product.description_list.description %}
                <li>{{ text }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if product.description_dictionary %}
        <div>
            <p class="dictionary-title">{{ product.description_dictionary.title }}</p>
            {% for key, description_list in product.description_dictionary.description.items() %}
            <div>
                <strong>{{ key }}</strong>
                <ul>
                {% for description in description_list %}
                    <li class="dictionary-text">{{ description }}</li>
                {% endfor %}
                </ul>
            </div>
            <br />
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="related-products">
        <div class="row-2">
            <h2>Productos relacionados</h2>
            <a href="/{{url}}" class="viewmore"><p>Ver más>></p></a>
        </div>
        <div class="related-products-row">
        {% for related_product in related_products %}
        <div class="col-4">
            <a href="/product/{{ related_product.id }}">
                <img src="/{{ related_product.image }}" alt="{{ related_product.name }}">
            </a>
            <a class="product-link" href="/product/{{ related_product.id }}">
                <h5>{{ related_product.name | truncate(120) }}</h5>
            </a>
            <div class="rating">
                {% for _ in range(int(related_product.stars)) %}
                <i class="fa-solid fa-star"></i>
                {% endfor %}
                {% if related_product.stars % 1 >= 0.5 %}
                <i class="fa-regular fa-star-half-stroke"></i>
                {% endif %}
                {% for _ in range(5 - int(related_product.stars) - (1 if related_product.stars % 1 >= 0.5 else 0)) %}
                <i class="fa-regular fa-star"></i>
                {% endfor %}
            </div>
            <p>
                {% if related_product.discount_decimal != 0 %}
                    <span style="text-decoration: line-through; font-size:14px;">{{ related_product.price }}€</span><br>
                    <span style="color: rgb(227, 43, 43); font-size:14px;">{{ related_product.discounted_price }}€</span> 
                {% else %}
                    <span style="font-size:14px;">{{ related_product.price }}€</span>
                {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="/static/js/addCart.js"></script>
<script type="text/javascript" src="/static/js/addFavorite.js"></script>

{% endblock %}