<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accede a tu cuenta | PcMarket </title>
    <link rel="stylesheet" href="/static/styles/signup.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/static/icons/logo_title.ico" type="image/x-icon">
</head>
<body>
    <div class="wrapper">
        <form action="/user/signup" method="post">
            <h1>Crear cuenta</h1>
            <div class="input-box">
                <input type="text" name="name" placeholder="Nombre*" required maxlength="50">
                <i class='bx bxs-user'></i>
                {% if name_length_error %}
                <div class="message">{{ name_length_error }}</div>
                {% endif %}
            </div>
            <div class="input-box">
                <input type="text" name="email" placeholder="Email*" required>
                <i class='bx bxs-envelope' ></i>
                {% if email_format_error %}
                <div class="message">{{ email_format_error }}</div>
                {% endif %}

            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Contraseña*" required maxlength="64">
                <i class='bx bxs-lock-alt' ></i>
                {% if password_length_error %}
                <div class="message">{{ password_length_error }}</div>
                {% endif %}
            </div>
            <div class="input-box">
                <input type="password" name="confirm_password" placeholder="Repetir contraseña*" required maxlength="64">
                <i class='bx bxs-lock'></i>
                {% if confirm_password_error %}
                <div class="message">{{ confirm_password_error }}</div>
                {% endif %}
            </div>

            <div class="accept-privacy-policy">
                <label><input type="checkbox" required>He leído y acepto la política de privacidad</label>
            </div>

            <button type="submit" class="btn">Crear cuenta</button>
            {% if error %}
            <div class="message email-repeat">{{ error }}</div>
            {% endif %}

            <div class="register-link">
                <p>Ya tengo una cuenta: <a href="/user/login">Iniciar sesión</a></p>
            </div>
        </form>
    </div>
</body>
</html>