[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
aiomysql = "*"
mysql-connector-python = "*"
bcrypt = "*"

[dev-packages]
isort = "*"
black = "*"

[scripts]
start = "uvicorn src.main:app"
dev = "uvicorn src.main:app --reload"
fmt = "isort . && black -t py311 ."

[requires]
python_version = "3.12"
