*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
body{
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

nav .drop-menu {
    display: none;
    flex-direction: column;
    background: white;
    width: 160px;
    position: absolute; 
    top: 50px;
    right: 0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav .drop-menu li{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
}

nav li:hover .drop-menu {
    display: flex;
}

.drop-menu li a:hover{
    font-weight: 500;
    padding-left: 8px;
}

.cart{
    margin-right: 30px;
}

.three-icons {
    padding-right: 20px;
}

.logout {
    padding-left: 25px;
}

.login {
    padding-left: 25px;
}

.hideOnMobile{
    margin-bottom: 20px;
}

.hideOnMobile p {
    cursor: pointer;
}

.menu-button{
    display: none;
}

.bx-heart, .bxs-heart, .bxs-shopping-bag, .bx-shopping-bag {
    font-size: 22px;
    vertical-align: middle;
}

.bxs-heart {
    color: rgb(223, 0, 0);
}

.bxs-shopping-bag{
    color: #2493e7;
}

@media(max-width: 700px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

nav ul > div {
    display: flex;
    align-items: center;
    position: relative;
}

nav li{
    height: 50px;
    display: flex;
    align-items: center; 
    margin-right: 10px;
    position: relative;
}

nav a, nav p {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #1D1D1D;
    margin-right: auto;
    margin-top: 10px;
}

.dashboard {
    padding: 20px 0 0 10px;
}

.products {
    padding-right: 15px;
}

.products, .username, .three-icons, .cart {
    padding-top: 20px;
}

.sidebar-heading{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 600;
}

.sidebar-username{
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: 400; 
    color: #4a4648;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #F2F2F2;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
    margin-bottom: 5px;
}

.sidebar a{
    width: 100%;
}

.sidebar-element{
    background: white;
    font-weight: 450;
    padding-left: 10px;
}

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: #24262b;
    padding: 30px 0;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

.footer-col{
    width: 22%;
    padding: 30px 0;
    margin-left: 20px;
}

.footer-col ul{
    list-style: none;
}

.footer-col h4{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:  #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:  50%;
    color:#ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 750px){
    .footer-col{
        width: 45%;
        margin-left: 15px;
    }
}

@media(max-width: 570px){
    .footer-col{
        width: 95%;
        margin-left: 15px;
    }

    .footer{
        margin-top: auto;
    }
}