.small-container-category {
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.category-title {
    text-align: left;
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
    color: #555;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.col-4 {
    box-sizing: border-box;
    margin: 15px; 
    text-align: left;
}

.col-4:hover{
    transform: translateY(-5px);
}

.col-4 img {
    width: auto;
    height: auto; 
    max-height: 200px; 
    object-fit: contain; 
}

.rating i {
    color: #ff523b;
    font-size: 12px;
}

.rating {
    margin: 10px 0;
    position: relative;
}

.col-4 h5 {
    margin: 10px 0;
    max-width: 285px;
}

.col-4 p {
    font-size: 14px;
    color: #333;
}

.product-link {
    text-decoration: none;
    color: inherit; 
    min-height: 50px;

}

.product-link:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .col-4 {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .col-4 {
        flex: 1 1 100%;
    }
}


/* Specially for Favorites.html */
.empty-favorites-list{
    max-width: 1080px;
    margin: 60px auto;
    padding-left: 25px;
    padding-right: 25px;
}

.empty-favorites-title{
    font-weight: 800;
    font-size: 32px;
}

.empty-favorites-text{
    margin-top: 8px;
    font-size: 14px;
}

.empty-favorites-list button{
    margin-top: 14px;
    border: none;
    background: rgb(223, 0, 0);
    color: white;
    letter-spacing: 0.15em;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 16px;
    cursor: pointer;
}

.add-or-remove-favorite-button {
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    border: none;
    background: none;
    margin: 3px 0 0 5px;
    position: absolute;
    right: 10px;
    top: 0;
}

.add-or-remove-favorite-button:hover{
    color: rgb(223, 0, 0);
}

.heart-favorites {
    transform: scale(1.5);
}