.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

.wrapper h1 {
    width: 700px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #333;
    background-color: #f3f1f0;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.two-boxes{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-box {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px;
}

.input-box input{
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    border: 1px solid #e9e3de;
    box-shadow: 0 0 0 3px transparent;
    height: 44px;
    padding: 0 15px;
    color: #333;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    font-size: 14px;
}


.pay-button {
    padding: 3px 20px;
    margin-top: 20px;
    background: rgb(223, 0, 0);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    text-decoration: none;
    width: 700px;
    height: 44px;
}

.message {
    color: #e06666;
    font-size: 13px;
    font-weight: 500;
}