.order-is-placed{
    max-width: 1080px;
    margin: 100px auto;
    padding-left: 25px;
    padding-right: 25px;
}

.order-is-placed p {
    margin-top: 8px;
    font-size: 14px;
}

.order-is-placed button {
    margin-top: 14px;
    border: none;
    background: rgb(223, 0, 0);
    color: white;
    letter-spacing: 0.15em;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}